.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cipher {

}

.button {
    height:30px;
    width: 30px;
    margin: 5px;
    background-color: cadetblue;
    color: white;
    font-weight: 400;
    outline: none;
}