.Button {
    color: white;
    background-color: cadetblue;
    border-radius: 3px;
    transition: font-size 0.5s;
    font-size: 3px;
    text-decoration: none;
    margin: 30px 5px 5px 5px;
    padding: 4px 4px;
    vertical-align: middle;
}

.Button:hover {
    height: 50px;
    width: 50px;
    font-size: 20px;
}